{% extends 'layouts/base.twig' %}

{% block content %}

<h1 class="text-blue-500 text-center text-4xl my-7">
  {% if data.todo.action == 'create' %}Ajouter une Tâche{% else %}Mettre à jour
  la tâche #{{data.todo.id}}<hr><p class=""><div class="text-base">Status :</div>
    <div class="text-2xl">{{ data.todo.status ? 'À priori: Déjà réalisée':'À
      faire'}}</div></p> {% endif %}
</h1>

<main class="w-[77%] mx-auto">

  <form action="../save" method="POST">

    <input type="hidden" name="action" value="{{ data.todo.action ?? null }}">
    <input type="hidden" name="id" value="{{ data.todo.id ?? null }}">

    <div class="field">
      <label class="label">Nom</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input" value="{{
          data.todo.name }}" name="name">
        <p class="text-red-500">{{ data.errors.name }}</p>
      </div>
    </div>

    <div class="field">
      <label class="label">Contenu</label>
      <div class="control">
        <textarea class="textarea" placeholder="Textarea" name="content">{{
          data.todo.content }}</textarea>
        <p class="text-red-500">{{ data.errors.content }}</p>
      </div>
    </div>

    <div class="field is-grouped float-right">
      <div class="control">
        <button class="button is-link">Enregistrer</button>
      </div>
      <div class="control">
        <button class="button is-link is-light" type="reset">Annuler</button>
      </div>
    </div>

    <hr>
    {{ data.todo.action }} → save()

  </form>

</main>

{% endblock %}
